.catalago-container {
    max-width: 75%;
    margin: auto;
}

.btn-secondary {
    margin: 10px
}

.form-select {
    width: 200px;
    display: inline-block;
    margin: 5px;
}

@media screen and (max-width: 1080px) {
    .catalago-container {
        max-width: 100%;
        margin: 0px;
    }

    .filtros {
        margin: 15px;
    }

    .filtros-botones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}