.crear-clase-container {
    max-width: 75%;
    margin: auto;
}

.img-crear-clase {
    height: 300px;

}

@media screen and (max-width: 1080px) {
    .crear-clase-container {
        max-width: 100%;
        margin: 0px;
    }

}