.signup-vitrina {
    display: flex;
    background-image: url("/src/assets/blackboard.jpg");
    background-size: cover;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-container {
    max-width: 75%;
    margin: auto;
    margin-top: 50px;
  }

@media screen and (max-width: 1080px) {
    .signup-container {
      max-width: 100%;
      margin: 0px;
      text-align: center;
    }
}