.btn-circle {
    background-color: #75E6DA;
    border-width: 0ch;
    border-radius: 8rem;
    text-align: center;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

footer {
    box-shadow: 0 50vh 0 50vh rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity));
    margin-bottom: 20px;
}
